[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[user]
	email = jc@johnjago.com
	name = John Jago
[core]
	editor = nvim
[alias]
	l = log

	# Visualize commits and branches
	lg = log --graph --decorate --oneline

	# Visualize with authors and dates
	lga = log --graph --abbrev-commit --decorate --format=format:'%C(auto)%h%C(reset) - %C(green)(%ar)%C(reset) %s [%an]%C(reset)%C(auto)%d%C(reset)'

	s = status
	a = add -A
	c = commit
	cm = commit -m
	m = commit --amend --verbose
	p = push
	pt = push --tags
	pu = pull
	d = diff
	dc = diff --cached
	co = checkout
	cob = checkout -b
	t = tag
	su = submodule update --remote --merge

	# List branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# List aliases
	la = "!git config -l | grep alias | cut -c 7-"
